<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'modules_permissions/css/modules.css' %}">
    <title>Détails du Module</title>
</head>
<body>
    <div class="module-detail">
        <h1>Détails du Module: {{ module.name }}</h1>
        <p><strong>Description:</strong> {{ module.description }}</p>
        <p><strong>Permissions Associées:</strong></p>
        <ul>
            {% for permission in module.permissions.all %}
                <li>{{ permission.name }}</li>
            {% endfor %}
        </ul>
        <a href="{% url 'module_list' %}">Retour à la liste des modules</a>
    </div>
</body>
</html>