{% extends 'medicament/config/base_config.html' %}
{% block config_title %}Effet thérapeutique{% endblock %}
{% block config_list_label %}Effets enregistrés{% endblock %}
{% block config_list_url %}{% url 'medicament:config_effet' %}{% endblock %}
{% block config_edit_url_prefix %}/medicaments/config/effet/{% endblock %}
{% block config_fields %}
<div style="padding:10px 16px;border-bottom:1px solid var(--border);">
  <label style="font-size:10.5px;color:var(--text-muted);letter-spacing:.04em;margin-bottom:4px;display:block;">Nom *</label>
  <input style="width:100%;border:1px solid var(--border);border-radius:4px;padding:6px 10px;font-size:13px;font-family:'Roboto',sans-serif;color:var(--text);background:var(--surface);outline:none;" type="text" name="nom" value="{{ form.nom.value|default:'' }}">
  {{ form.nom.errors }}
</div>
<div style="padding:10px 16px;">
  <label style="font-size:10.5px;color:var(--text-muted);letter-spacing:.04em;margin-bottom:4px;display:block;">Code *</label>
  <input style="width:100%;border:1px solid var(--border);border-radius:4px;padding:6px 10px;font-size:13px;font-family:'Roboto',sans-serif;color:var(--text);background:var(--surface);outline:none;" type="text" name="code" value="{{ form.code.value|default:'' }}">
  {{ form.code.errors }}
</div>
{% endblock %}
